<h3>Neti Neti Taxon Finder</h3>     

<br />
<table class='nice'>
	<tr>
    <th>Verbatim String (as appears in text)</th>
    <th>Scientific name</th>
	</tr> 
	<% @tf_arr.each do |name| 
#		if (name.keys[0] && name.values[0] && !name.keys[0].empty? && !name.keys[0].empty?)	
	%>
		<tr>
			<td><%= name.inspect %></td>
		</tr>
		<% end %>
	<%# end %>	
</table>

<br />
<br />
<a href='/neti_tf'>Back to form</a>
