/** {margin:0; padding:0;}
body, div, span, p, a, img, ul, ol, li, caption, table, thead, tbody, tfoot, tr, th, td, form, fieldset, legend, label, dl, dt, dd, blockquote, applet, object, h1, h2, h3, h4, h5 {
	border:0;
}
*/
/*body {
	padding:20px 0; 
	font:0.8em/1.5 "arial", sans-serif; 
	text-align:center; 
	background:#FFF; 
	color:#000;
}
*/
/*h1, h2 {margin:15px 0 10px 0;}
h3, h4, h5, h6 {margin:5px 0 10px 0;}
h1 {font-size:260%; font-weight:normal; letter-spacing:-1px;}
h2 {font-size:160%; font-weight:normal;}
h3 {font-size:140%; font-weight:normal;}
h4, h5 {font-size:100%;}
*/
/*p, ul, ol, dl, fieldset {margin:10px 0;}
table {margin-left: auto; margin-right: auto; border-collapse:collapse; border-spacing:0; font-size:100%;}
*/
/*th {text-align:left; font-weight:bold;}
*//*th, td {padding:3px 7px;}*/

/*ul, ol {margin-left:30px;}
ul ul, ol ol {margin:0; margin-left:20px;}
ol {list-style-type:decimal;}
li {display:list-item;}
*/
/*form {margin-left: auto; margin-right: auto;}
form p label {
	float:left;
	text-align:right;
	width:120px;
	padding:0px 5px;
}
*/
input[type="submit"] {
	padding:2px; 
	font:normal 100%/1.2 "arial",sans-serif;
	border:0.1em solid #46a912; 
	background:#46a912; 
	color:#FFF;
}
/*option.pretty {padding-left: 0.1em;}*/

/*div#wrapper {text-align: center;}*/

/* @group TABLES */
/*table.nice{
	border-spacing: 2px 2px;
	border-collapse: separate; 
}
table.nice tr{
	background-color: #f6f6f6;
}
table.nice td{
	padding: 1px 4px;
}
table.nice td.label{
	float:right;
	text-align:left;
}
table.nice a {
	border-style: none;
}
table.nice a:hover {
	text-decoration: underline;
}
*/
th{
/*	padding:0px 5px;*/
/*	margin:0px;*/
	font-weight: bold;
}

/* @end */
